body {
  margin: 0px;
  padding: 0%;
  font-family: 'Noto Sans JP', sans-serif;
}

.box{
  margin-top: 5%;
  padding-bottom: 100px;
}

.nav {
  height: 80px;
  background-color: #351c8a;
  position: relative;
  overflow: hidden;
  padding: 1rem;
}

.nav-logo {
  width: 9em;
  left: 13%;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.name-header{
  font-size: 5rem;
  font-family: 'Bona Nova', serif;
  font-weight: bold;
  letter-spacing: 1px;
  margin-left: 13%;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4rem;
  text-align: center;
  background-color: #351c8a;
  z-index: 10011;
  margin-top: 0px;
}

.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
  float: right;
  right: 10%;
  margin-top: -5rem;
}

.input-search{
  height: 40px;
  width: 40px;
  border-style: none;
  padding: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  outline: none;
  border-radius: 25px;
  transition: all .1s ease-in-out;
  background-color: #351c8a;
  padding-right: 40px;
  color:#fff;
}

.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 100;
}

.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 0em;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}

.btn-search:focus ~ .input-search{
  width: 250px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 200ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus{
  width: 250px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 200ms cubic-bezier(0, 0.110, 0.35, 2);
}

select {
  outline:0;
  box-shadow:none;
  background: #fff;
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  color:#000;
  cursor:pointer;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0px 4px 7px -1px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 4px 7px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 7px -1px rgba(0,0,0,0.75);

}

select::-ms-expand {
  display: none;
  
}
.select {
  display: inline-flex;
  position: relative;
  width: 15em;
  height: 2.4em;
  line-height: 3;
  background: #5c6664;
  overflow: hidden;
  border-radius: .25em;
  margin-left: 30px;
}

.select::after {
  content: '\25BC';
  position: absolute;
  height: 20px;
  top: 1px;
  right: 3px;
  padding: 0 1em;
  background: #ffff;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}

.select:hover::after {
  color: #3b3b3b;
}

.inline-btn{
  display: inline;
}

.top-right{
  position: absolute;
  right: 11%;
  float: right;
  margin-top: -5%;
}

.top-card-box{
    width: 50%;
    height: 45%;
    border: 15px solid green;
    margin-top: 20px;
}

@media only screen and (max-width: 450px) {
  .inline-btn{
    display: flex;
  }
  .select{
    margin-left: 0px;
    margin-top: 10px;
  }

  .search-box{
    display: none;
    font-size: 1rem;
  }
  .btn-search:focus ~ .input-search{
    width: 200px;
  }
  .input-search:focus{
    width: 200px;
  }
  .top-right{
    position: relative;
    margin-top: 5%;
    float: none;
    
  }
}

@media only screen and (max-width: 850px) {
  .inline-btn{
    display: inline-flexbox;
   
  }
  .select{
    margin-top: 10px;
  }
  .top-right{
    right: auto;
    margin-left: 13%;
    margin-top: 3%; 
  }
}

@media (min-width: 1200px){
  .container {
      width: 1400px;
      margin-top: 2%;
  }
}



:root {
  --curve: 5;
  --surface-color: #351c8a;
}

.first-cards{
  list-style-type: none;
  
}

.first-card{
  margin-top: 10%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 4rem;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: #351c8a;
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}   

.card:hover .card__header {
  transform: translateY(0);
}

.card__title {
  font-size: 1.5em;
  margin: 0 0 .3em;
  color: #ffffff;
}

.card__description {
  padding: 0 2em 2em;
  font-size: 1.2em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}    

.card__image {      
  width: 100%;
  height: auto;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #ffffff;  
}

.card__status {
  font-size: 1em;
  color: #ffffff;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #ffffff;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}    

.article-image{
  position: relative;
  width: 50%;
  margin-top: 10%;
}

.column1 {
 float: left;
  width: 700px;
  padding: 10px;
  
}
.column2right {
  float: right;
   width: 400px;
   padding: 10px;
   margin-top: 50%;
   
 }

/* Clear floats after the columns */
.row {
  width: 1600px;
}

.cards2{
  margin-left: 10%;
width: 129%;
height: 150px;
list-style-type: none;
background-color: #351c8a;
border: none;
border-radius: 4px;
}

.card__title2{
  padding: 5%;
    font-size: 1.8em;
    margin: 2rem 0 .3em;
    color: #ffffff;
}

.right {
  float: right;
  width: 15%;
  margin: 1%;
  margin-right: 10;
}
.blackBox2 {
  width: 400px; 
  height: 300px; 
}

.redBox {
  width: 1000px;
  margin-left: 9%;
  margin-top: 5%;
}

@media (min-width: 8500px){
  .right {
    float: none;
    justify-content: center;
    
  }
}

.cards-wimg{
  width: 144%;
  height: 120%;
  padding: auto;
  list-style-type: none;
  margin-top: 1%;
}

.cards-section {
  list-style-type: none;
}
.card-section {
  position: relative;
  display: block;
  height: 300px;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

